.hero-section {
  height: 490px;
  background-image: url(../../assets/image/pexels-1.jpg);
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.95;

  h1,
  p {
    color: #fff;
  }

  .btn {
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
    color: black;
    border: none;
    outline: none;
  }
}
